.profile-container {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.map-wrapper {
    position: relative;
    width: 900px;
    height: 400px;
    min-width: 320px;
}

.map-wrapper > div {
    height: 100%;
}