.profile-container {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.profile-container button {
    border-color: #fff;
}

.map-wrapper {
    position: relative;
    width: 900px;
    min-width: 320px;
}