* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', serif;
    outline: none;
    -webkit-font-smoothing: antialiased;
}

html, body {
    background: #F4F5F1;
    height: 100%;
}

#root {
    height: 100%;
}

main {
    height: 100%;
    padding: 15px;
    margin-left: 64px;
}

header {
    background: #db3d44;
    min-height: 64px;
    padding: 10px;
}

#root > nav {
    position: fixed;
}

.form-width {
    min-width: 300px;
}

.facebook-btn-class {
    margin: 0;
    height: 38px;
    font-size: larger;
    font-family: Helvetica,sans-serif;
    color: #fff;
    cursor: pointer;
    background-color: #4c69ba;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}