.marker-container {
    display: flex;
    flex-wrap: wrap;
}

.marker-data {
    width: 230px;
    margin-right: 10px;
}

.marker-data p {
    text-align: center;
}

.marker-container .form-group {
    display: flex;
    align-items: baseline;
    margin-bottom: 5px;
    justify-content: space-between;
}

.marker-btn {
    text-align: right;
}

.marker-btn button {
    padding: 2px 5px;
    font-size: 14px;
    margin-left: 20px;
}

.marker-btn > .btn-delete:hover {
    background: rgba(255, 0, 0, 0.5);
    border-color: transparent;
}

.marker-data input {
    width: 160px;
}