.marker-container {
    display: flex;
    flex-wrap: wrap;
}

.marker-data {
    width: 230px;
    margin-right: 10px;
}

.marker-data p {
    margin: 0;
    text-align: center;
}

.marker-container .form-group {
    display: flex;
    align-items: baseline;
    margin-bottom: 5px;
    justify-content: space-between;
}

.marker-btn {
    text-align: right;
}

.marker-data button {
    margin-right: 10px;
}

.marker-data > .form-group input {
    width: 160px;
}