.home-wrapper {
    display: flex;
    justify-content: space-around;
}

.home-map {
    position: relative;
    width: 900px;
    height: 500px;
    min-width: 500px;
}

.home-map > div {
    height: 100%;
}