.bar-details-wrapper {
    border: 1px solid #db3d44;
    min-width: 460px;
}

.bar-details-wrapper .bar-title {
    font-size: 20px;
    background: #db3d44;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.bar-description {
    padding: 10px;
}

.react-datetime-picker > div {
    border-color: #db3d44;
    border-radius: 5px;
}

.bar-details-info .bar-title {
    display: none;
}

.bar-details-container {
    display: flex;
}

.bar-details-info {
    -webkit-flex: 3 1 40%;
    flex: 3 1 40%;
    padding: 10px;
}

.tables-wrapper {
    -webkit-flex: 3 1 60%;
    flex: 3 1 60%;
}

.date-time-wrapper {
    padding: 10px;
}

.booked-table-button {
    display: flex;
    justify-content: space-evenly;
}

.duration-wrapper input {
    border: 1px solid #db3d44;
    border-radius: 5px;
    padding: 0 0 0 5px;
}

.date-time {
    margin: 10px 0;
}