.search-wrapper {
    position: absolute;
    margin: 50px 0 0 0;
    color: white;
    opacity: 0.8;
}

.search-wrapper label {
    color: orangered;
    font-size: 20px;
    margin: 0 5px;
}

.search-wrapper div {
    margin: 5px 0;
}

.search-wrapper > form {
    width: 180px;
    padding: 5px 0 0 10px;
}

.radius-btn-container {
    display: flex;
    justify-content: space-between;
}

#radius {
    width: 60px;
}

#radius, #place {
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 0 5px;
}

#place {
    width: 100%;
}

.radius-btn-container input[type=submit] {
    padding: 0 20px;
    border-color: #fff;
    color: #000;
    background: #fff;
}